.product-component {
  border: 1px dashed #7ac2ff;
}

.card {
  float: left;
  width: 378px;
  height: 300px;
  padding: 20px;
  margin: 10px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 20px 54px 0 rgba(196,208,227,.75);
}
.card-header{
  font-size: 18px;
  height: 75px;
  color: #3b4256;
  letter-spacing: -.2px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left:10px;
  border-bottom: 2px solid #e7eef4;
  margin-bottom: 25px;
  text-align: left;
  vertical-align: middle;
}

.card-content-wrap {
  /*float: left;*/
  margin-left: 10px;
}

.card-content-wrap b{
  font-size: 18px;
  font-weight: 100;
  color: #97a4b1;
  text-align: right;
  vertical-align: middle;
}

.card-content-wrap p{
  font-size: 14px;
  color: #97a4b1;
  line-height: 125%;
}

b.income {
  color: #80e0b0;
}

b.sum {
  color: #1a8cff;
}

.pie-chart-container {
  height: 80px;
  width: 140px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.aligned-row {
  display: flex;
  flex-flow: row wrap;

  &::before {
    display: block;
  }
  vertical-align: middle;
}
.card-btn,.card-btn:hover, .card-btn:active, .card-btn:visited {
  background-color: #1a8cff;
  font-size: 8px !important;
  color: white;
  border-color: #1a8cff;
  position:absolute; bottom:0;  margin-bottom:7px; left: 0;
}

