.product-component {
  border: 1px dashed #7ac2ff;
}

.card {
  float: left;
  width: 378px;
  height: 340px;
  padding: 20px;
  margin: 10px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 20px 54px 0 rgba(196,208,227,.75);
  //border-radius: 20px;
  //border: solid 1px #bbb;
font-family: "Open Sans", sans-serif;
}
.card-header{
  font-size: 18px;
  height: 75px;
  color: #3b4256;
  letter-spacing: -.2px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left:15px;
  border-bottom: 2px solid #e7eef4;
  margin-bottom: 25px;
  text-align: left;
  vertical-align: middle;
  font-family: "Open Sans", sans-serif;
}

.card-content-wrap {
  /*float: left;*/
  margin-left: 10px;
}

.card-content-wrap b{
  font-size: 18px;
  font-weight: 100;
  color: #97a4b1;
  font-family: "Open Sans", sans-serif;
}

.card-content-wrap p{
  font-size: 14px;
  color: #97a4b1;
  line-height: 125%;
  font-family: "Open Sans", sans-serif;
}

b.income {
  color: #80e0b0;
  font-family: "Open Sans", sans-serif;
}

b.sum {
  color: #1a8cff;
  font-family: "Open Sans", sans-serif;
}

.pie-chart-container {
  height: 140px;
  width: 140px;
  font-family: "Open Sans", sans-serif;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.card-btn {
  font-size: 8px !important;
  font-family: "Open Sans", sans-serif;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
  background-color: #1a8cff !important;
}
